import { useState } from 'react';

interface {{componentName}}Props {
  // Props の型定義をここに記述
}

export function {{componentName}}(props: {{componentName}}Props) {
  // コンポーネントのロジックをここに記述
  
  return (
    <div className="{{kebabCase componentName}}">
      {/* JSX をここに記述 */}
    </div>
  );
}

export default {{componentName}};