services:
  app:
    build: .
    ports:
      - "8081:8081"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - EXPO_DEV_CLIENT_NETWORK_INSPECTOR=true
      - APP_VARIANT=development
