version: "3.9"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
  build:
    build:
      context: .
      target: builder
    command: npm run build
    volumes:
      - .:/app
