import { json } from '@remix-run/node';
import type { LoaderFunction } from '@remix-run/node';

export const loader: LoaderFunction = async ({ request }) => {
  // データの取得ロジックをここに記述
  
  return json({
    // レスポンスデータをここに記述
  });
};